#include "dlgAbout.h"
#include "resource.h"

DLG_ABOUT DIALOG 0, 0, 180, 98
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "O programie..."
FONT 8, "Helv"
BEGIN
    CTEXT           "iTime", -1, 6, 8, 168, 16
    CTEXT           "wersja 2.99.4", -1, 6, 25, 168, 12
    CTEXT           "(c) 2001-2005   Piotr Borys", -1, 6, 47, 168, 10
    DEFPUSHBUTTON   "&OK", IDOK, 68, 72, 40, 14
END

