#include "dlgMain.h"
#include "resource.h"

IDD_DLGMAIN DIALOG DISCARDABLE  0, 0, 186, 60
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Pobieranie czasu z serwera NTP"
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT "Data i godzina :", -1,     5,  5, 58, 12
    LTEXT "Przesuniêcie :", -1,       5, 25, 58, 12
    LTEXT "B³¹d :", -1,               5, 37, 58, 12
    LTEXT "date",   IDT_MAIN_DATE,   60,  5, 64, 18
    LTEXT "offset", IDT_MAIN_OFFSET, 60, 25, 64, 12
    LTEXT "error",  IDT_MAIN_ERROR,  60, 37, 64, 12
    DEFPUSHBUTTON "&Zamknij okno", IDB_MAIN_CLOSE, 129,  7, 50, 14
    PUSHBUTTON "&Ustaw czas", IDB_MAIN_SETTIME,    129, 24, 50, 14
END

